@model TFMCooperativeSociety.Models.MemberBankDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_GentellaAdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MemberBankDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.BusinessStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.BusinessStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccounName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccounName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BVN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BVN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SortCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SortCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberBankDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
