@using System.Web.UI.WebControls
@model TFMCooperativeSociety.Models.Member
@{
    Layout = "~/Views/Shared/_GentellaAdminLayout.cshtml";
}
@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
<script src="~/Content/js/bootstrap.min.js"></script>
<!-- bootstrap progress js -->
@*<script src="~/Content/js/progressbar/bootstrap-progressbar.min.js"></script>*@
<!-- icheck -->
<script src="~/Content/js/icheck/icheck.min.js"></script>
<script src="~/Content/js/custom.js"></script>
<!-- form wizard -->
<script type="text/javascript" src="~/Content/js/wizard/jquery.smartWizard.js"></script>
<!-- pace -->
<script src="~/Content/js/pace/pace.min.js"></script>
@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {
        // Smart Wizard
        $('#wizard').smartWizard();

    });

    $(document).ready(function () {
        // Smart Wizard
        $('#wizard_verticle').smartWizard({
            transitionEffect: 'slide'
        });


    });



    $(document).ready(function () {

        alert('Welcome to Page');

        //$('#memberForm : input').css('background-color', 'black');
        $('#imgFormGroup').hide();

        $('#ImageFile').change(function() {
            var File = this.files;

            alert("Welcome , Page working");
            if (File && File[0]) {
                ReadImage(File[0]);
            }

        });
    });

    var ReadImage = function (file)
    {
        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file)
        {
            image.src = _file.target.result;
            image.onload = function ()
            {
                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = ~~(file.size / 1024) + "KB";

                $('#targetImg').attr('src', _file.target.result);
                $('#description').text("Size " + size + "," + height + "X" + width + "," + type + "");
                $('#imgFormGroup').show();
                $('#imgPreview').show();
            }
        }
    }

    var ClearPreview = function() {
        $('#imageBrowse').val('');
        $('#description').text('');
        $('#imgPreview').hide();
    }


</script>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Member Regitration</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> MemberResgiration <small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <!-- Smart Wizard -->
                    <p>Fill in appropraite details and correct details.</p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps">
                            <li>
                                <a href="#step-1">
                                    <span class="step_no">1</span>
                                    <span class="step_descr">
                                        Step 1<br />
                                        <small>Fill in Bio-Data Info Appropraitely</small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2">
                                    <span class="step_no">2</span>
                                    <span class="step_descr">
                                        Step 2<br />
                                        <small>Fill in Address Details</small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3">
                                    <span class="step_no">3</span>
                                    <span class="step_descr">
                                        Step 3<br />
                                        <small>Conclsion and Submit Form</small>
                                    </span>
                                </a>
                            </li>

                        </ul>
                        <form id="memberForm" action="@Url.Action("Create","Members")" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data">

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                        <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Personal Detaisl Form------------------------------------------------------------------------------------->

                            <div id="step-1">
                                <div class="form-group" id="#imgFormGroup" >
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Preview <span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <div id="imgPreview" style="display: none; padding-bottom:5px">
                                            <img src="" class="img-responsive" alt="PassPort" id="targetImg" />
                                        </div>

                                        <span id="description" style="border-top: 0.7px solid gray; margin-top:5px; padding-top:6px"> </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Browse Picture <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @*@Html.EditorFor(model => model.File, new { htmlAttributes = new { @class = "input form-control col-md-7 col-xs-12" } })*@
                                        <input type="file" name="File" id="ImageFile" />
                                        @Html.ValidationMessageFor(model => model.ImageFile)


                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        First Name <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", })


                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Middle Name <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "input form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger", })


                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Last Name <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", })


                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Gender <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.EnumDropDownListFor(model => model.GenderList, new { htmlAttributes = new { @class = "input DropDowm col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.GenderList, "", new { @class = "text-danger", })


                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Date Of Birth <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "input form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger", })


                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Are you a TCWC Member ? <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.ISTCWC, new { @class = "input form-control col-md-7 col-xs-12", id = "isTcwc" })
                                        @Html.ValidationMessageFor(model => model.ISTCWC, "", new { @class = "text-danger" })

                                        @*<input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>
                                <div class="form-group" id="tcwcCode">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Enter TCWC MemberCode</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.TCWCIDCode, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.TCWCIDCode, "", new { @class = "text-danger" })


                                        @*<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">*@
                                    </div>
                                </div>
                                @*<div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div id="gender" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
                            </label>
                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <input type="radio" name="gender" value="female"> Female
                            </label>


                            @Html.HiddenFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                </div>*@
                            </div>
                            <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Address Details------------------------------------------------------------------------------------->

                            <div id="step-2">
                                <h2 class="StepTitle">Address Details </h2>
                                @*<div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">

                                        <p style="text-decoration:underline; font-size:15px; color:dimgray">
                                            <b>
                                                Residential Address
                                            </b>
                                        </p>
                                    </label>

                                </div>*@


                                <div class="form-group">

                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Street <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "input form-control col-md-7 col-xs-12" , PlaceHolder="Residential Street"} })
                                        @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger", })


                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Nearest Bus-Stop <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.EditorFor(model => model.Bus_stop, new { htmlAttributes = new { @class = "input form-control col-md-7 col-xs-12", PlaceHolder = "Residential Bus-stop" } })
                                        @Html.ValidationMessageFor(model => model.Bus_stop, "", new { @class = "text-danger", })


                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        City<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "input form-control col-md-7 col-xs-12", PlaceHolder = "Residential City" } })
                                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger", })


                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        State <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.EnumDropDownListFor(model => model.StateOfOriginList, new { htmlAttributes = new { @class = "input form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.StateOfOriginList, "", new { @class = "text-danger", })


                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@

                                        <!--Holds the value of the StateList filed  from the enum StateList-->
                                        @Html.HiddenFor(model => model.State) <br/>
                                        <hr />
                                    </div>

                                </div>
                                <!-- Business Address Details-->

                                <div class="form-group">

                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Business Street <span class="required">*</span>
                                    </label>

                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.EditorFor(model => model.BusinessStreet, new { htmlAttributes = new { @class = "input form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.BusinessStreet, "", new { @class = "text-danger", })

                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Business City <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.EditorFor(model => model.BusinessCity, new { htmlAttributes = new { @class = "input form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.BusinessCity, "", new { @class = "text-danger", })

                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Business State <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.EditorFor(model => model.BusinessState, new { htmlAttributes = new { @class = "input form-control col-md-7 col-xs-12" } })
                                        @Html.ValidationMessageFor(model => model.BusinessState, "", new { @class = "text-danger", })

                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>
                            </div>
                            <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Conclusion And Summition------------------------------------------------------------------------------------->

                            <div id="step-3">
                                <h2 class="StepTitle">Step 3 Content</h2>
                                <p>
                                    If you here ... Then you have completely filled up your member details registration  <br />
                                    <br /> <br />
                                    Click the Submit buttton below to submit your filled in details.

                                </p>
                                <p>
                                </p>
                                <input style="background-color: forestgreen; font-weight: bolder; color:#fff" type="submit" name="submit" value="Submit" class="btn btn-lg" />
                            </div>
                        </form>
                        </div>

                    <!-- End SmartWizard Content for horizontal -->


                                <h2>Completed: ?  Almost Done</h2>

                    <!-- End SmartWizard Content -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

                            @*<script src="~/Content/js/bootstrap.min.js"></script>
                            <!-- bootstrap progress js -->
                            <script src="~/Content/js/progressbar/bootstrap-progressbar.min.js"></script>
                            <!-- icheck -->
                            <script src="~/Content/js/icheck/icheck.min.js"></script>
                            <script src="~/Content/js/custom.js"></script>
                            <!-- form wizard -->
                            <script type="text/javascript" src="~/Content/js/wizard/jquery.smartWizard.js"></script>
                            <!-- pace -->
                            <script src="~/Content/js/pace/pace.min.js"></script>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    // Smart Wizard
                                    $('#wizard').smartWizard();
                                });

                                $(document).ready(function () {
                                    // Smart Wizard
                                    $('#wizard_verticle').smartWizard({
                                        transitionEffect: 'slide'
                                    });


                                });
                            </script>*@