<div class="sidebar-menu">
    <header class="logo1">
        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu">
            <li><a href="index.html"><i class="fa fa-tachometer"></i> <span>Admin Dashboard</span><div class="clearfix"></div></a></li>


            <li id="menu-academico"><a href="@Url.Action("Index","Members")"><i class="fa fa-envelope nav_icon"></i><span>View Members</span><div class="clearfix"></div></a></li>
            <li><a href="@Url.Action("Delete","Members")"><i class="fa fa-picture-o" aria-hidden="true"></i><span>Delete Member </span><div class="clearfix"></div></a></li>
            <li id="menu-academico"><a href="@Url.Action("Create","Members")"><i class="fa fa-bar-chart"></i><span>Add Member</span><div class="clearfix"></div></a></li>
            <li id="menu-academico">
                <a href="#"><i class="fa fa-list-ul" aria-hidden="true"></i><span> Payment </span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="@Url.Action("Index","Payments")"> View Payment </a></li>
                    <li id="menu-academico-avaliacoes"><a href="@Url.Action("Approve","Payments")"> Approve Payments </a></li>
                    <li id="menu-academico-avaliacoes"><a href="@Url.Action("Delete","Payments" )"> Delete Payment </a></li>
                </ul>
            </li>
         
        </ul>
    </div>
</div>