@model TFMCooperativeSociety.Models.ViewModels.BlogCommentViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GentellaAdminLayout.cshtml";
}

<h2>Blog and related comments</h2>

<table style="border: solid 2px black">
    <tr>
        <td> Blog Title</td>
        <td> Blog Description</td>
        <td> Date Created</td>
    </tr>
    <tr>
        <td> @Html.DisplayFor(m=>m.Blog.BlogTitle)</td>
        <td> @Html.DisplayFor(m=>m.Blog.Description)</td>
        <td> @Html.DisplayFor(m=>m.Blog.DateCreated)</td>
    </tr>

</table>

<h3>Comments</h3>
<table cellpadding="5" cellspacing="5">
    @if(Model.Comments != null){

    foreach (var item in Model.Comments)
    {
        <tr>
            <td> @item.Message</td> <td>(By @item.CommentBy)</td>
        </tr>
    }
    }
</table>

