@using Microsoft.AspNet.Identity;

@using TFMCooperativeSociety.Models
@model LoginViewModel



<div id="loginPartial">
    <form action="@Url.Action("Login","Account",new { ReturnUrl = ViewBag.ReturnUrl })" method="post" >
    @*@using (Ajax.BeginForm("Login", "Account", new AjaxOptions(){ UpdateTargetId = "login"}, new { @class = "formm", role = "form" }))

    {*@

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <h1> Login Form </h1>
        <div>
            @*<input type="text" class="form-control" placeholder="Email" required="" />*@

            @Html.TextBoxFor(m => m.Email, new { @class = "input form-control", placeholder = "Email", type = "Email" })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
        </div>

        <div>

            @Html.TextBoxFor(m => m.Password, new { @class = "input form-control", placeholder = "Password", type = "Password" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
        </div>

        <div>

            @Html.Label("Remember Me")
            @Html.CheckBoxFor(m => m.RememberMe)

        </div>

        <div>
        <input type="submit" name="login" value="Login" class="btn btn-default submit" style="color:darkgreen; font-weight:bold" />

        @*<a class="btn btn-default submit" href="index.html">Log in</a>*@

        <a class="reset_pass" href="@Url.Action("ChangePassword","Manage", new {id= User.Identity.GetUserId() })">Lost your password?</a>
    </div>

    <div class="clearfix"></div>
    <div class="separator">
        <p class="change_link">
            Register/Create Account
            <a href="@Url.Action("RegisterMember","Account")" class="to_register"> Create Account </a>
        </p>

        <p>
            <h1><i class="fa fa-paw" style="font-size: 26px;"></i> TFMC</h1>

            <span> Tech Farmers Mulltipurpose Cooperative Society @DateTime.Now.Year <br /> (c) All rights Reserved </span>

        </p>

    </div>

     </form>
</div>

@Scripts.Render("~/bundles/jquery")
